#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Minecraft
Exec=bash -c "java -jar ~/minecraft-launcher/minecraft-launcher"
Icon=~/Downloads/minecraft.png
NoDisplay=true
Name[en_US]=Minecraft
