$TTL 900

@   IN  SOA bastion.{{ cluster_name }}.{{ fqdn }}.    hostmaster.{{ cluster_name }}.{{ fqdn }}. (
        2019062001  ; serial
        3H          ; refresh (3 hours)
        30M         ; retry (30 minutes)
        1W          ; expiry (2 weeks)
        3h )        ; minimum (1 week)

    IN  NS  bastion.{{ cluster_name }}.{{ fqdn }}.
254 IN  PTR bastion.{{ cluster_name }}.{{ fqdn }}.
254 IN  PTR api.{{ cluster_name }}.{{ fqdn }}.
254 IN  PTR api-int.{{ cluster_name }}.{{ fqdn }}.
254 IN  PTR apps.{{ cluster_name }}.{{ fqdn }}.
10  IN  PTR master-0.{{ cluster_name }}.{{ fqdn }}.
11  IN  PTR master-1.{{ cluster_name }}.{{ fqdn }}.
12  IN  PTR master-2.{{ cluster_name }}.{{ fqdn }}.
20  IN  PTR infnod-0.{{ cluster_name }}.{{ fqdn }}.
21  IN  PTR infnod-1.{{ cluster_name }}.{{ fqdn }}.
30  IN  PTR cptnod-0.{{ cluster_name }}.{{ fqdn }}.
31  IN  PTR cptnod-1.{{ cluster_name }}.{{ fqdn }}.
32  IN  PTR cptnod-2.{{ cluster_name }}.{{ fqdn }}.
;EOF
