if exists("did_load_filetypes")
  finish
endif

augroup filetypedetect

  autocmd! BufNew,BufNewFile,BufRead Jenkinsfile :setfiletype groovy
  autocmd! BufNew,BufNewFile,BufRead terraform/**/*.tpl :setfiletype yaml
  autocmd! BufNew,BufNewFile,Bufread [Cc]ontainerfile.*,*.[Cc]ontainerfile :setfiletype Dockerfile

augroup END

