" ===== NERDTree =====
map <C-n> :NERDTreeToggle<CR>
nnoremap <Leader>pt :NERDTreeToggle<CR>
nnoremap <silent> <expr> <Leader>n g:NERDTree.IsOpen() ? "\:NERDTreeClose<CR>" : bufexists(expand('%')) ? "\:NERDTreeFind<CR>" : "\:NERDTree<CR>"

" ===== FZF =====
nnoremap <silent> <C-f> :Files<CR>
"nnoremap <silent> <C-g> :GFiles<CR>
nnoremap <silent> <C-b> :Buffers<CR>
nnoremap <Leader>g :Rg<CR>
nnoremap <Leader>t :Tags<CR>
nnoremap <Leader>m :Marks<CR>

" Extra key bindings to open found files into splits
let g:fzf_action = {
  \ 'ctrl-t': 'tab split',
  \ 'ctrl-x': 'split',
  \ 'ctrl-v': 'vsplit',
  \ }

xnoremap <C-h> <C-w>h
xnoremap <C-j> <C-w>j
xnoremap <C-k> <C-w>k
xnoremap <C-l> <C-w>l

" ===== Move lines vertically in visual and select mode =====
"xnoremap <A-j> :m '<+1<CR>gv=gv
"xnoremap <A-k> :m '<-2<CR>gv=gv

" Move VISUAL LINE selection within buffer. https://youtu.be/X5IAdaN6IwM
"xnoremap <silent> J :call move_down()<CR>
"xnoremap <silent> K :call move_up()<CR>

"nnoremap <silent><A-j> :set paste<CR>m`o<Esc>``:set nopaste<CR>
"nnoremap <silent><A-k> :set paste<CR>m`O<Esc>``:set nopaste<CR>
