set nocompatible

"let mapleader="\<Space>"

let g:mapleader = ' '
let g:maplocalleader = ' '
filetype plugin on                      " VimWiki
syntax on                               " Enables syntax highlighting
" set t_Co=256
" Enable true color
if exists('+termguicolors')
  let &t_8f = "\<Esc>[38;2;%lu;%lu;%lum"
  let &t_8b = "\<Esc>[48;2;%lu;%lu;%lum"
  set termguicolors
endif
set encoding=UTF-8
set fileencoding=utf-8                  " The encoding written to file
set hidden                              " Required to keep multiple buffers open ???
set nowrap                              " Do not wrap long lines
set pumheight=10                        " Make popup menu smaller
set ruler                               " Show the cursor position all the time
set cmdheight=2                         " Show more space for the displayed messages at the bottom
set iskeyword+=-                        " Treat dash separated words as a word text object ???
set mouse=a                             " Enable mouse
"set splitbelow                          " Horizontal split will be placed below
"set splitright                          " Vertical split will be placed to the right
"set conceallevel=0                      " To see `` in markdown files ???
set tabstop=2                           " Replace tab with 2 spaces
set shiftwidth=2                        " Number of space characters inserted for the indentation
set smarttab                            " Makes tabbing smarter. Realizes you have 2 vs 4 ???
set expandtab                           " Replaces tabs with spaces
"set smartindent                         " Smart indenting
set autoindent
set laststatus=0                        " Always display the statusline
set relativenumber                      " Use relative line numbers
set number relativenumber               " Show the absolute line number for the current line
set cursorline                          " Enable highlighting of the current line
set noshowmode                          " Hide vimmode from the commandline
set noswapfile
set nobackup                            " Recommended by CoC
set nowritebackup                       " Recommended by CoC
set undodir=$HOME/.config/nvim/undodir
set undofile
"set updatetime=300                      " Faster completion
"set timeoutlen=100                      " By default timeoutlen is 1000ms
set clipboard+=unnamedplus              " Copy into main clipboard
"set spell                               " Turn on spellcheck
set spelllang=en_us                     " Set the spellcheck languages separated by comma
set formatoptions-=cro                  " Stop newline continution of comments
set signcolumn=yes                      " Always show the signcolum, otherwise it would shift the text each time ???
set shortmess+=c                        " Don't pass messages to |ins-completion-menu| ???
set background=dark                     " Background color
set modeline                            "
set modelines=0                         " How many lines in the file to look for the Vim commands
set colorcolumn=80                      " Enable 80 character line width indicator

let python_highlight_all = 1
let g:vim_json_syntax_conceal = 0       " Disable quote concealing in JSON files (https://github.com/Yggdroot/indentLine/issues/140#issuecomment-624662832)

autocmd BufNew,BufNewFile,BufRead Jenkinsfile :setfiletype groovy
autocmd BufNew,BufNewFile,BufRead terraform/**/*.tpl :setfiletype yaml

au! BufWritePost $MYVIMRC source %      " Autosource when writing to the init.vim
autocmd FileType * setlocal formatoptions-=c formatoptions-=r formatoptions-=o " ???

" Allow saving of files as sudo when forgot to start vim using sudo.
cmap w!! w !sudo tee > /dev/null %
