set background=dark " Tell the VIM what the background color looks like (does not change the background itself)
" If colors look weird, try - https://github.com/vim/vim/issues/993#issuecomment-255651605
" set t_Co=256 " Support 256 colors
set termguicolors
let g:gruvbox_contrast_dark='hard' " Should be declared before colorscheme
colorscheme gruvbox
" let g:gruvbox_improved_strings=1
