{
  "suggest.echodocSupport": true,
  "suggest.maxCompleteItemCount": 20,
  "coc.preferences.rootPatterns": [".git", ".hg", ".projections.json"],
  "coc.preferences.formatOnSaveFiletypes": ["javascript", "typescript", "typescriptreact", "json", "javascriptreact"],
  "eslint.nodePath": "./.vscode/pnpify/",

  "eslint.filetypes": ["javascript", "typescript", "typescriptreact", "javascriptreact"],
  "eslint.options": {
    "configFile": ".eslintrc.js"
  },
  "diagnostic.errorSign": "•",
  "diagnostic.warningSign": "•",
  "diagnostic.infoSign": "•",
  "tsserver.npm": "/usr/bin/npm",
  "languageserver": {
    "golang": {
      "command": "gopls",
      "rootPatterns": ["go.mod"],
      "filetypes": ["go"]
    }
  }
}