" === IndentLine ====
let g:indentLine_char_list = ['|', 'Â¦', 'â”†', 'â”Š']
let g:indentLine_setColors = 1 "Defaults indentLine to grey. Themed by gruvbox seems too bright (noisee) for me

" === Tagged Template literals ===
let g:htl_css_templates = 1
let g:htl_all_templates = 1
let g:closetag_filetypes = 'html,xhtml,phtml,javascript,typescript'
let g:closetag_regions = {
  \ 'typescript.tsx': 'jsxRegion,tsxRegion,litHtmlRegion',
  \ 'javascript.jsx': 'jsxRegion,litHtmlRegion',
  \ 'javascript':     'litHtmlRegion',
  \ 'typescript':     'litHtmlRegion',
  \ }

" === Protobuf ===
let g:ale_linters = {
  \   'proto': ['buf-check-lint',],
  \}
let g:ale_lint_on_text_changed = 'never'
let g:ale_linters_explicit = 1

" === Markdown ===
let g:markdown_fenced_languages = ['html', 'go', 'typescript', 'javascript', 'json', 'css', 'bash=sh']

" au! BufWritePost $MYVIMRC source % " auto source when writing to init.vim alternatively you can run :source $MYVIMRC
