MINIO_ACCESS_KEY="minio"
MINIO_VOLUMES="/agora/s3/"
MINIO_OPTS="-C /etc/minio --address 192.168.1.2:8001"
MINIO_SECRET_KEY="miniostorage"
MINIO_REGION_NAME="eu-north-1"
MINIO_REGION_COMMENT="Europe (Riga)"
MINIO_DOMAIN=s3.oswee.com
