[Unit]
Description=Sign a new host cert on boot, then daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=sign-jenkins-ssh-cert.service

[Install]
WantedBy=timers.target
