{
    "window.zoomLevel": -1,
    "workbench.colorTheme": "Monokai Pro",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.activityBar.visible": true,
    "window.titleBarStyle": "custom",
    "git.autofetch": true,
    "workbench.sideBar.location": "left",
    "material-icon-theme.activeIconPack": "react_redux",
    "extensions.ignoreRecommendations": false,
    "prettier.eslintIntegration": true,
}