{
    "workbench.colorTheme": "Gruvbox Dark Hard",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.activityBar.visible": true,
    "workbench.sideBar.location": "left",
    "window.zoomLevel": -1,
    "editor.fontSize": 14,
    "terminal.integrated.fontSize": 12,
    "window.menuBarVisibility": "toggle",
    "window.titleBarStyle": "custom",
    "git.autofetch": true,
    "material-icon-theme.activeIconPack": "react_redux",
    "extensions.ignoreRecommendations": false,
    "prettier.eslintIntegration": true,
}