[defaults]
# Chick-Fil-A would like a word...
nocows = true

hosts_key_checking  = true
inventory           = hosts
roles_path          = roles

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_paths   = collections

#stdout_callback     = minimal
ansible_python_interpreter: "/usr/bin/python3.9"

[ssh_connection]
#control_path = %(directory)s/%%h-%%r
#control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = true
ssh_args = -F ./ansible-ssh.cfg
