Plug 'dense-analysis/ale'

let g:ale_linters = {
\  'javascript': ['eslint'],
\  'scss': ['stylelint'],
\}

let g:ale_fixers = {
\  'javascript': ['prettier'],
\  'typescript': ['prettier'],
\  'css': ['prettier'],
\  'scss': ['prettier'],
\}
