Plug 'scrooloose/nerdtree'
Plug 'ryanoasis/vim-devicons'
"Plug 'Xuyuanp/nerdtree-git-plugin'

" Handle VIM session error of NerdTree
set sessionoptions-=blank

" Set relativenumber for :Explore https://vi.stackexchange.com/a/3373/26970
" let g:netrw_bufsettings='noma nomod nu nobl nowrap ro rnu'

let g:NERDTreeMinimalUI=1 " Hide Press ? for help
let g:NERDTreeShowHidden=1 " Show hidden files
let g:NERDTreeAutoDeleteBuffer=1 " Reload the buffer when renaming the file
let g:NERDTreeDirArrowExpandable = ''
let g:NERDTreeDirArrowCollapsible = ''
let g:NERDTreeWinSize=40 " Set the width of the NerdTree split

" NERDTress File highlighting
function! NERDTreeHighlightFile(extension, fg, bg, guifg, guibg)
 exec 'autocmd filetype nerdtree highlight ' . a:extension .' ctermbg='. a:bg .' ctermfg='. a:fg .' guibg='. a:guibg .' guifg='. a:guifg
 exec 'autocmd filetype nerdtree syn match ' . a:extension .' #^\s\+.*'. a:extension .'$#'
endfunction

"call NERDTreeHighlightFile('jade',         'green',    'none', 'green',    '#151515')
"call NERDTreeHighlightFile('ini',          'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('md',           'blue',     'none', '#3366FF',  '#151515')
"call NERDTreeHighlightFile('yml',          'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('config',       'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('conf',         'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('json',         'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('html',         'yellow',   'none', 'yellow',   '#151515')
"call NERDTreeHighlightFile('styl',         'cyan',     'none', 'cyan',     '#151515')
"call NERDTreeHighlightFile('css',          'cyan',     'none', 'cyan',     '#151515')
"call NERDTreeHighlightFile('coffee',       'Red',      'none', 'red',      '#151515')
"call NERDTreeHighlightFile('js',           'Red',      'none', '#ffa500',  '#151515')
"call NERDTreeHighlightFile('php',          'Magenta',  'none', '#ff00ff',  '#151515')
"call NERDTreeHighlightFile('ds_store',     'Gray',     'none', '#686868',  '#151515')
"call NERDTreeHighlightFile('gitconfig',    'Gray',     'none', '#686868',  '#151515')
"call NERDTreeHighlightFile('gitignore',    'Gray',     'none', '#686868',  '#151515')
"call NERDTreeHighlightFile('bashrc',       'Gray',     'none', '#686868',  '#151515')
"call NERDTreeHighlightFile('bashprofile',  'Gray',     'none', '#686868',  '#151515')


" ===== NERDTree Git Plugin =====
" let g:NERDTreeIndicatorMapCustom = {
"   \ "Modified"  : "✹",
"   \ "Staged"    : "✚",
"   \ "Untracked" : "✭",
"   \ "Renamed"   : "➜",
"   \ "Unmerged"  : "═",
"   \ "Deleted"   : "✖",
"   \ "Dirty"     : "✗",
"   \ "Clean"     : "✔︎",
"   \ "Ignored"   : '☒',
"   \ "Unknown"   : "?"
"   \ }
