Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

"set showtabline=2 " Allways show tabline
let g:airline_theme='gruvbox'
"let g:airline_theme='base16_gruvbox_dark_hard'
let g:airline#extensions#tabline#enabled = 0
let g:airline_powerline_fonts = 1
