Plug 'dense-analysis/ale'

let g:ale_typescript_prettier_use_local_config = 1

let g:ale_lint_on_text_changed = 'never'
let g:ale_linters_explicit = 1
let g:ale_linters = {
  \  'html': ['tidy', 'htmlhint'],
  \  'css': ['stylelint'],
  \  'scss': ['stylelint'],
  \  'javascript': ['eslint', 'tsserver'],
  \  'typescript': ['eslint', 'tsserver'],
  \  'vim': ['vint'],
  \  'proto': ['buf-check-lint',]
  \}

" Do not lint or fix minified files.
let g:ale_pattern_options = {
  \ '\.min\.css$': {'ale_enabled': 0},
  \ '\.min\.js$': {'ale_enabled': 0},
  \}

let g:ale_fix_on_save = 1
let g:ale_fixers = {
  \  'css': ['prettier'],
  \  'scss': ['prettier'],
  \  'javascript': ['prettier'],
  \  'typescript': ['prettier'],
  \  'json': ['prettier'],
  \}
