authoritative;
ddns-update-style   interim;
default-lease-time  14400;
max-lease-time      14400;

    option              routers                 {{ cluster.network }}.1;
    option              broadcast-address       {{ cluster.network }}.255;
    option              subnet-mask             255.255.255.0;
    option              domain-name-servers     {{ cluster.network }}.{{ cluster.nodes['bastion'].host }};
    # option            domain-name-servers     192.168.1.1;
    option              ntp-servers             time.cloudflare.com;
    option              domain-search           "{{ cluster.name }}.{{ cluster.fqdn }}", "{{ cluster.fqdn }}";
    option              domain-name             "{{ cluster.name }}.{{ cluster.fqdn }}";


subnet {{ cluster.network }}.0 netmask 255.255.255.0 {
    interface enp1s0;
    pool {
        range {{ cluster.network }}.200 {{ cluster.network }}.250;

        host {{ cluster.nodes['bootstrap-0'].name }} {
            hardware ethernet {{ cluster.nodes['bootstrap-0'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['bootstrap-0'].host }};
            option host-name "{{ cluster.nodes['bootstrap-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['master-0'].name }} {
            hardware ethernet {{ cluster.nodes['master-0'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['master-0'].host }};
            option host-name "{{ cluster.nodes['master-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['master-1'].name }} {
            hardware ethernet {{ cluster.nodes['master-1'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['master-1'].host }};
            option host-name "{{ cluster.nodes['master-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['master-2'].name }} {
            hardware ethernet {{ cluster.nodes['master-2'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['master-2'].host }};
            option host-name "{{ cluster.nodes['master-2'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['infnod-0'].name }} {
            hardware ethernet {{ cluster.nodes['infnod-0'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['infnod-0'].host }};
            option host-name "{{ cluster.nodes['infnod-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['infnod-1'].name }} {
            hardware ethernet {{ cluster.nodes['infnod-1'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['infnod-1'].host }};
            option host-name "{{ cluster.nodes['infnod-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['cptnod-0'].name }} {
            hardware ethernet {{ cluster.nodes['cptnod-0'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['cptnod-0'].host }};
            option host-name "{{ cluster.nodes['cptnod-0'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['cptnod-1'].name }} {
            hardware ethernet {{ cluster.nodes['cptnod-1'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['cptnod-1'].host }};
            option host-name "{{ cluster.nodes['cptnod-1'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        host {{ cluster.nodes['cptnod-2'].name }} {
            hardware ethernet {{ cluster.nodes['cptnod-2'].mac }};
            fixed-address {{ cluster.network }}.{{ cluster.nodes['cptnod-2'].host }};
            option host-name "{{ cluster.nodes['cptnod-2'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}";
        }

        # this will not give out addresses to hosts not listed above
		deny unknown-clients;

        if exists user-class and option user-class = "iPXE" {
            filename "http://{{ cluster.nodes['bastion'].name }}.{{ cluster.name }}.{{ cluster.fqdn }}:8080/boot.ipxe";
        } else {
            filename "undionly.kpxe";
        }

        next-server {{ cluster.network }}.{{ cluster.nodes['bastion'].host }};
    }
}

