---
# tasks file for roles/named

- name: copy named.conf and zone files
  become: yes
  template:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    owner: named
    group: named
    setype: named_conf_t
    mode: '0644'
  loop:
    - {src: '{{ cluster_name }}/named.conf.j2', dest: '/etc/named.conf'}
    - {src: '{{ cluster_name }}/ocp.example.com.zone.j2', dest: '/var/named/{{ cluster_name }}.{{ fqdn }}.zone'}
    - {src: '{{ cluster_name }}/1.168.192.in-addr.arpa.zone.j2', dest: "/var/named/{{ network | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}zone"}
  notify: restart named

- name: deploy resolv.conf template
  become: yes
  template:
    src: '{{ cluster_name }}/resolv.conf.j2'
    dest: /etc/resolv.conf
    setype: named_conf_t
    # owner: root
    # group: root
    mode: 0644
    # backup: yes
  notify:
    - restart NetworkManager

- name: Add an Ethernet connection with static IP configuration
  become: yes
  nmcli:
    conn_name: eth0
    type: ethernet
    dns4: '{{ network }}.254'
    dns4_search: '{{ cluster_name }}.{{ fqdn }}'
    state: present
  notify:
    - restart NetworkManager

# - name: set qemu user in /etc/sysconfig/network-scripts/ifcfg-enp1s0
#   lineinfile:
#     dest: /etc/sysconfig/network-scripts/ifcfg-enp1s0
#     regexp: "{{ item.pattern }}"
#     line: "{{ item.value }}"
#     state: present
#   loop:
#     - {pattern: '^DNS1=', value: 'DNS1="192.168.1.254"'}
#   notify:
#     - restart NetworkManager
