#xrandr --output DVI-I-1 --auto --right-of DP-1.8 --auto

# Run Feh background setter
~/.fehbg &

# Load Siji fonts for the Polybar to avoid journalctl warnings
xset +fp /home/dzintars/.fonts
xset fp rehash

#export PATH=$PATH:/usr/local/go/bin
#export GOPATH=$HOME/go

#export PATH="$PATH:/opt/yarn-v1.23.0-20200205.1242/bin"
#export PATH="$PATH:`yarn global bin`"

#export PATH="$HOME/.cargo/bin:$PATH"