{
  "window.menuBarVisibility": "toggle",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.colorTheme": "Gruvbox Dark Hard",
  "window.zoomLevel": -1,
  "editor.fontSize": 14,
  "editor.tabSize": 2,
  "terminal.integrated.fontFamily": "Hack Nerd Font",
  "terminal.integrated.fontSize": 12,
  "terminal.integrated.shell.linux": "/bin/zsh",
  "terminal.external.linuxExec": "alacritty",
  "terminal.explorerKind": "external",
  "telemetry.enableTelemetry": false,
  "cSpell.userWords": [
    "ansible",
    "noshadow",
    "oswee",
    "signin",
    "xxxl"
  ],
  "go.formatTool": "goimports",
  "javascript.updateImportsOnFileMove.enabled": "always",
}
